.next
node_modules
.eslintrc.json
firevase.js
next.config.js
package.json
postcss.config.js
tailwind.config.js
*.json
*.json
*.pack
toolie-ui-mock/.next/build-manifest.json
toolie-ui-mock/.next/cache/webpack/client-development/6.pack
toolie-ui-mock/.next/cache/webpack/client-development/7.pack
toolie-ui-mock/.next/cache/webpack/client-development/8.pack
toolie-ui-mock/.next/cache/webpack/client-development/9.pack
toolie-ui-mock/.next/cache/webpack/client-development/index.pack
toolie-ui-mock/.next/cache/webpack/client-development/index.pack.old
toolie-ui-mock/.next/cache/webpack/server-development/4.pack
toolie-ui-mock/.next/cache/webpack/server-development/index.pack
toolie-ui-mock/.next/cache/webpack/server-development/index.pack.old
toolie-ui-mock/.next/server/pages-manifest.json
toolie-ui-mock/.next/server/webpack-runtime.js
toolie-ui-mock/.next/static/chunks/pages/confirm.js
toolie-ui-mock/.next/static/chunks/webpack.js
toolie-ui-mock/.next/static/development/_buildManifest.js
toolie-ui-mock/.next/trace
toolie-ui-mock/.next/build-manifest.json
toolie-ui-mock/.next/cache/webpack/client-development/6.pack
toolie-ui-mock/.next/cache/webpack/client-development/7.pack
toolie-ui-mock/.next/cache/webpack/client-development/8.pack
toolie-ui-mock/.next/cache/webpack/client-development/9.pack
toolie-ui-mock/.next/cache/webpack/client-development/index.pack
toolie-ui-mock/.next/cache/webpack/client-development/index.pack.old
*.pack
